@font-face {
    font-family: 'aaarghnormal';
    src: url('Font Things/aaargh-webfont.woff2') format('woff2'),
    url('Font Things/aaargh-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'carolineregular';
    src: url('Font Things/caroline-webfont.woff2') format('woff2'),
    url('Font Things/caroline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
  background-color: rgba(175, 192, 225, 0.427);
}
h2 {
  margin-bottom: 8px;
  font-family:'aaarghnormal';
}
#search-bar {
  background-color: rgba(166, 190, 235, 0.516);
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: rgb(93, 131, 201);
}

.search-label {
  font-family:'aaarghnormal';
  font-weight: bolder;
  font-size: 20px;
}
select {
  font-family:'aaarghnormal'
}

img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 25px 25px 0px 0px;
}

#flower-card-collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flower-card {
  box-shadow: 1px 1px 4px black;
  margin-top: 25px;
  border-radius: 25px;
  background-color: rgba(245, 241, 222, 0.591);
}

.flower-card:hover {
  box-shadow: 2px 2px 8px black;
}

.flower-name {
  text-align: center;
  margin-top: 6px;
  margin-bottom: 4px;
  font-family: "carolineregular";
  font-size: 40px;
}

#flower-header {
  text-align: center;
}