img {
  height: 300px;
  width: 300px;
  object-fit: cover;
}

#flower-card-collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flower-card {
  box-shadow: 1px 1px 4px black;
  margin-top: 20px
}

.flower-name {
  text-align: center;

}

#flower-header {
  text-align: center;
  
}