@font-face {
    font-family: 'aaarghnormal';
    src: url('Font Things/aaargh-webfont.woff2') format('woff2'),
    url('Font Things/aaargh-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'carolineregular';
    src: url('Font Things/caroline-webfont.woff2') format('woff2'),
    url('Font Things/caroline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: rgba(175, 192, 225, 0.427);
  font-family:'aaarghnormal';
}

h2 {
  margin-bottom: 8px;
  font-family:'aaarghnormal';
}

select {
  font-family:'aaarghnormal';
  font-size: 18px;
  padding-top: 4px;
  cursor: pointer;
}

img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 25px 25px 0px 0px;
}

ul {
  list-style-type: none;
  margin-top: 10px;
}

li {
  padding: 3px;
}

button {
  font-size: 18px;
  cursor: pointer;
  border-color: rgba(19, 19, 19, 0.795);
  border-radius: 6px;
  border-width: 1px;
  background-color: rgba(211, 210, 210, 0.666);
}

button:hover {
  background-color: rgba(187, 187, 187, 0.79);
  box-shadow:0 0 1px rgba(0, 0, 0, 0.488)
}

#filter-bar {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: rgb(93, 131, 201);
  margin-top: 40px;
  text-align: center;
  margin:auto;
}

.center {
  display: flex;
  justify-content: center;
  margin: 20px
}

.filter-label {
  font-family:'aaarghnormal';
  font-weight: bolder;
  font-size: 20px;
}

.flower-card {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.653);
  margin-top: 25px;
  border-radius: 25px;
  background-color: rgba(245, 241, 222, 0.591);
}

.flower-card:hover {
  box-shadow: 2px 2px 8px black;
}

.flower-name {
  text-align: center;
  margin-top: 6px;
  margin-bottom: 4px;
  font-family: "carolineregular";
  font-size: 40px;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  opacity: 0;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.modal-container.show {
  pointer-events: auto;
  opacity: 1;

}

.modal {
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 30px 50px;
  width: 400px;
  max-width: 100%;
  text-align: center;
}

.modal p {
  font-size: 18px;
}

#flower-card-collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#flower-header {
  text-align: center;
  font-size: 45px;
}